#app {
  margin-top: 65px; }

#map-canvas {
  height: 85vh; }

#itinerary h3 {
  text-align: center; }
  #itinerary h3 #day-title {
    padding: 5px;
    border: 1px solid #736357;
    border-radius: 5px; }
    #itinerary h3 #day-title > * {
      display: inline-block;
      vertical-align: middle; }
    #itinerary h3 #day-title > .remove {
      margin-left: 1em; }

select {
  width: calc(100% - 25px); }

.btn-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 42%; }

.btn-primary {
  background: #5f9bc0;
  border-color: #5797bd; }
  .btn-primary:hover {
    background: #4283aa;
    border-color: #3f7da2; }

.day-btn {
  border-width: 2px;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  background: transparent;
  border-color: #a8c9dd;
  color: #a8c9dd; }
  .day-btn:hover {
    border-color: #fff;
    color: #fff; }
  .day-btn.current-day {
    background: #a8c9dd;
    color: #736357; }
    .day-btn.current-day:hover {
      background: #fff; }

.itinerary-item > * {
  display: inline-block;
  vertical-align: middle; }

.itinerary-item > .title {
  width: calc(100% - 24px); }

.navbar-inverse {
  background: #736357;
  border-color: #564a41; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #a8c9dd; }

.navbar-inverse .navbar-brand {
  padding: 12px 15px;
  white-space: nowrap; }
  .navbar-inverse .navbar-brand .glyphicon {
    font-size: 1.2em;
    margin-right: 5px; }
  .navbar-inverse .navbar-brand > span {
    display: inline-block;
    vertical-align: middle; }

.navbar-inverse .navbar-nav > .active > a {
  box-shadow: inset 0 0 10px #473e36;
  background: #64574c;
  color: #cde0eb; }
  .navbar-inverse .navbar-nav > .active > a:hover {
    background: #564a41;
    box-shadow: inset 0 0 10px #39312b;
    color: #fff; }

#day2, #day3 {
  display: none; }
