{% extends 'layout.html' %}


{% block content %}
<div id="app">
  <div class="row">
    <div id="map-container" class="col-xs-12 col-sm-8 col-lg-9">
      <div id="map-canvas"></div>
    </div>
    <div class="col-sm-4 col-lg-3">
      <div id="options" class="panel panel-default col-xs-6 col-sm-12">
        <div class="panel-body">
          <div>
            <h4>Hotels</h4>
            <select id="hotel">
              {% for hotel in hotels %}
                <option>{{ hotel.name }}</option>
              {% endfor %}
            </select>
            <button id="hotel-btn" class="btn btn-primary btn-circle pull-right">+</button>
          </div>

          <div>
            <h4>Restaurants</h4>
            <select id="restaurants">
              {% for restaurant in restaurants %}
                <option>{{ restaurant.name }}</option>
              {% endfor %}
            </select>
            <button id="rest-btn" class="btn btn-primary btn-circle pull-right">+</button>
          </div>

          <div>
            <h4>Things To Do</h4>
            <select id="things">
              {% for thingToDo in thingsToDo %}
                <option>{{ thingToDo.name }}</option>
              {% endfor %}
            </select>
            <button id="things-btn" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
      <div id="itinerary" class="col-xs-6 col-sm-12">
        <h3>
          <span id="day-title">
            <span>Day 1</span>
            <button class="btn btn-xs btn-danger remove btn-circle">x</button>
          </span>
        </h3>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="day-buttons">
              <button id="day1" value="1" class="btn btn-circle day-btn current-day">1</button>
              <button id="day2" value="2" class="btn btn-circle day-btn">2</button>
              <button id="day3" value="3" class="btn btn-circle day-btn">3</button>
              <button id="add" class="btn btn-circle day-btn">+</button>
            </div>
          </div>
          <div id="itny" class="panel-body">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
{% autoescape false %}
var all_hotels = {{ hotels | json }};
var all_restaurants = {{ restaurants | json }};
var all_things_to_do = {{ things_to_do | json }};
{% endautoescape %}
</script>
{% endblock %}
